body, html {
    width: 100%;
}

body {
    background-color: var(--black);
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #0F1114;
    --black-gray: #222529;
    --black-gray-p: #2E3238;
    --text-gray: #747A8A;
    --white: #F5F8FF;
    --blue: #3168F5;
    --red: #E31718;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Text */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", serif;
    color: var(--white);
}

p {
    font-size: 18px;
    font-weight: 400;
}

.gray {color: var(--text-gray);}
.red {
    color: var(--red);
}

.a, .btn, button {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Block */
.screen {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-width: 2200px;
    margin: auto;
}

.left-block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
}

.right-block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    padding: 20px;
}

.right-block_grid {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 1%;
    grid-template-rows: repeat(4, 24%);
    grid-template-columns: repeat(4, 24%);
}

.grid-el {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background-color: var(--black-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    color: var(--white);
    z-index: 3;
    transition: scale 0.2s ease-out, border-radius 0.2s ease-out;
    padding: 0;
}
.grid-el::after {
    content: "";
    position: absolute;
    transform: translate(50%, 50%);
    height: 100%;
    width: 100%;
    border-radius: 32px;
    background-color: inherit;
    opacity: 0.4;
    z-index: -1;
    transition: 2s ease;
}

@keyframes uuu {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.grid-el:hover {
    z-index: 2;
    cursor: pointer;
    overflow: visible;
    animation: border 1s infinite ease;
}

.grid-el:hover::after {
    animation: uuu 3s infinite ease;
    scale: 1.15;
}

@keyframes border {
    0% {
        border-radius: 52px;
    }
    50% {
        border-radius: 32px;
    }
    100% {
        border-radius: 52px;
    }
}

.grid-el img {
    width: 65%;
    aspect-ratio: 1;
    border-radius: 100px;
}

.flich {
    background-color: #B16858;
}

.zaks {
    background-color: #4D5A67;
}

.yui {
    background-color: #482523;
}

.tema {
    background-color: #57550C;
}

.den {
    background-color: #7D6D5A;
}

.snasha {
    background-color: #735748;
}

.minoko {
    background-color: #851B36;
}

.vitalia {
    background-color: #7A3641;
}

.grid-el-none:hover {
    scale: 1;
    cursor: default;
    border-radius: 32px;
    animation: none;
}

.w-100 {
    width: 100%;
}

.w-360px {
    width: 360px;
}

.btn, button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 18px 26px;
    border-radius: 16px;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    border: none;
    outline: none;
}

.block-24 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@keyframes dispawn {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-30px);
        opacity: 0;
    }
}

@keyframes spawn {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.big_dick {
    width: 100%;
    height: 100%;
    border-radius: 46px;
}

.btn_gray {
    background-color: var(--black-gray);
    color: var(--white);
}

.btn_radio {
    padding: 18px;
    gap: 18px;
    justify-content: flex-start;
}

.btn_radio div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-gray-p);
    border-radius: 10px;
    padding: 10px;
}

.btn_radio-active div {
    background-color: var(--red);
}

.btn_radio div div {
    height: 18px;
    min-height: 18px;
    aspect-ratio: 1;
    padding: 0;
}

.btn_radio-active div img {
    height: 18px;
    aspect-ratio: 1;
    animation: spawn_in 0.2s ease forwards;
}

@keyframes spawn_in {
    0% {
        scale: 0.8;
        opacity: 0;
    }
    90% {
        scale: 1.2;
        opacity: 1;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

.block-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn_radio .bac-white {
    background-color: var(--white);
}

.btn-red {
    background-color: var(--red);
    color: var(--white);
}

.gift-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: var(--black-gray);
    border-radius: 32px;
    flex-direction: column;
    padding: 100px;
}

.btn_gray_p {
    background-color: var(--black-gray-p);
    color: var(--white);
}

.face {
    height: 100px;
    aspect-ratio: 1;
}

.none {
    display: none;
}

.w-400 {
    width: 400px;
}

.text_center {
    text-align: center;
}

.screen_mob {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100lvh;
    width: 100%;
    gap: 24px;
}

.screen_mob p {
    text-align: center;
}



@media (max-width: 1600px) {
    p {
        font-size: 16px;
    }
    
    .a, .btn, button {
        font-size: 16px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .text {
        gap: 14px;
    }


    .left-block {
        padding: 60px 100px;
    }
    .gift-box {
        padding: 60px;
    }

    .face {
        height: 80px;
    }
}

@media (max-width: 1200px) {
    .screen_mob {
        display: flex;
    }

    .screen {
        display: none;
    }
}

@media (max-width: 600px) {
    .screen_mob {
        padding: 32px;
    }
    .face {
        height: 68px;
    }
    .screen_mob p {
        font-size: 12px;
    }

    .w-360px {
        width: 100%;
    }
}